.flip-card {
  background-color: transparent;
  display: flex;
}

img {
  width: 200px;
  height: 200px;
}
.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner:hover {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(36, 34, 34);
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: rgb(14, 13, 13);
  transform: rotateY(180deg);
}
